:root{
  --color-primary: #5063f0;
  --color-light-blue: #a3abe4;
  --color-dark-blue: rgba(80,99,240, 15);
  --color-secondary: #ed125f;
  --color-text: #969191;
  --color-gray: #292a34;
  --color-background: #f2f2f2;
  --color-white: #fff;
}

::-webkit-scrollbar-track{
  background: var(--color-background);
}

::-webkit-scrollbar{
  width: 0.5rem;
  heigh: 1rem;
}

::-webkit-scrollbar-thumb{
  background: var(--color-text);
  border-radius: 2rem;
}

html,
body{
  width: 100%;
}

body,input, select{
  font-family: 'Nunito', sans-serif;
  background-color: var(--color-background);
}

a{
  color: inherit;
  text-decoration: none;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}